.data-entry-control {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.data-table-row {
  cursor: pointer;
}

.create-student-container {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
  }
}
