.student-container {
  display: flex;
  flex-direction: column;

  &__basic-info {
    display: flex;
    flex-direction: column;

    &-first {
      display: flex;
      flex-direction: row;
    }

    &-second {
      display: flex;
      flex-direction: row;
    }

  }

}

.add-new-grade-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  padding: 12px;
}

.grade-container {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
  }
}
