<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">id</th>
    <th scope="col">Username</th>
    <th scope="col">Name</th>
    <th scope="col">Date of birth</th>
    <th scope="col">Class</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.args.students as |student index|}}
    <tr class="data-table-row" {{on "click" (fn this.routeTransition student.id)}}>
      <th scope="row">{{index}}</th>
      <td>{{student.id}}</td>
      <td>{{student.username}}</td>
      <td>{{student.name}}</td>
      <td>{{student.dateOfBirth}}</td>
      <td>{{student.class}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
