<BsNavbar
        @type="dark"
        @backgroundColor="dark"
        as |navbar|>
  <div class="navbar-header">
    <navbar.toggle />
    <a class="navbar-brand" href="#">
      <img src="../assets/images/student_app.png" height="60px" alt="Logo">
    </a>
  </div>
  <navbar.content>
    <navbar.nav as |nav|>
      <nav.item>
        <nav.linkTo @route="data-entry">Data entry</nav.linkTo>
      </nav.item>
      <nav.dropdown as |dd|>
        <dd.toggle>Statistics <span class="caret"></span></dd.toggle>
        <dd.menu as |ddm|>
          <ddm.item>
            <ddm.link-to @route="statistics.student-statistics">Student</ddm.link-to>
          </ddm.item>
          <ddm.item>
            <ddm.link-to @route="statistics.subject-statistics">Subject</ddm.link-to>
          </ddm.item>
          <ddm.item>
            <ddm.link-to @route="statistics.year-quarter-statistics">Quarter</ddm.link-to>
          </ddm.item>
        </dd.menu>
      </nav.dropdown>
    </navbar.nav>
  </navbar.content>
</BsNavbar>