<div class="bs-dropdown-container">
  <BsDropdown @tagName="span" as |dd|>
    <dd.toggle>
      Select student
      <span class="caret"></span>
    </dd.toggle>
    <dd.menu as |menu|>
      {{#each @model.students as |student|}}
        <menu.item>
          <menu.link-to @route="statistics.student-statistics.student-statistic" @model={{student.id}}>{{student.username}}</menu.link-to>
        </menu.item>
        <menu.divider/>
      {{/each}}
    </dd.menu>
  </BsDropdown>
</div>

{{outlet}}
