<div class="bs-dropdown-container">
  <BsDropdown @tagName="span" as |dd|>
    <dd.toggle>
      Select subject
      <span class="caret"></span>
    </dd.toggle>
    <dd.menu as |menu|>
      {{#each @model.subjects as |subject|}}
        <menu.item>
          <menu.link-to @route="statistics.subject-statistics.subject-statistic" @model={{subject}}>{{subject}}</menu.link-to>
        </menu.item>
        <menu.divider/>
      {{/each}}
    </dd.menu>
  </BsDropdown>
</div>

{{outlet}}