<div class="bs-dropdown-container">
  <BsDropdown @tagName="span" as |dd|>
    <dd.toggle>
      Select year quarter
      <span class="caret"></span>
    </dd.toggle>
    <dd.menu as |menu|>
      {{#each @model.yearQuarters as |yearQuarter|}}
        <menu.item>
          <menu.link-to @route="statistics.year-quarter-statistics.year-quarter-statistic" @model={{yearQuarter}}>{{yearQuarter}}</menu.link-to>
        </menu.item>
        <menu.divider/>
      {{/each}}
    </dd.menu>
  </BsDropdown>
</div>
{{outlet}}