<div class="data-entry-container">
  <div class="data-entry-control">
    <BsButton {{on "click" this.toggleModal}}>Add new student</BsButton>
  </div>
  <div class="data-entry-table">
    <DataTable @students={{@model.students}} />
  </div>

  <!-- Create student modal -->
  <BsModal
          @open={{this.openModal}}
          @onSubmit={{action "submit"}}
          @onHidden={{action "toggleModal"}} as |modal|>
    <modal.header>
      <h4 class="modal-title">Create a new student</h4>
    </modal.header>
    <modal.body>
      <div class="create-student-container">
        <div class="create-student-container__row">
          <Input id="name" @value={{this.student.name}} type="text" placeholder="Student name" autofocus="autofocus" />
          <Input id="username" @value={{this.student.username}} type="text" placeholder="Student username" autofocus="autofocus" />
        </div>
        <div class="create-student-container__row">
          <Input id="studentClass" @value={{this.student.class}} type="text" placeholder="Student class" autofocus="autofocus" />
          <Input id="dateOfBirth" @value={{this.student.dateOfBirth}} type="text" placeholder="Student date of birth" autofocus="autofocus" />
        </div>
      </div>
    </modal.body>
    <modal.footer>
      <BsButton @onClick={{action modal.close}}>Cancel</BsButton>
      <BsButton @type="success" @onClick={{action modal.submit}}>Save</BsButton>
    </modal.footer>
  </BsModal>
</div>