<div class="student-container">
  <h1>Basic info</h1>
  <div class="student-container__basic-info">
    <div class="student-container__basic-info-first">
      <StudentInput @label="Name" @input-value={{@model.name}} />
      <StudentInput @label="Username" @input-value={{@model.username}} />
    </div>
    <div class="student-container__basic-info-second">
      <StudentInput @label="Date of birth" @input-value={{@model.dateOfBirth}} />
      <StudentInput @label="Class" @input-value={{@model.class}} />
    </div>
  </div>
  <h1>Grade information</h1>
  <div class="add-new-grade-container">
    <BsButton {{on "click" this.toggleModal}}>Add new grade</BsButton>
  </div>
  <div class="student-container__grades">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Year</th>
        <th scope="col">Quarter</th>
        <th scope="col">Math grade</th>
        <th scope="col">Computer grade</th>
        <th scope="col">Literature grade</th>
      </tr>
      </thead>
      <tbody>
      {{#each @model.gradeInformation as |grade index|}}
        <tr>
          <th scope="row">{{index}}</th>
          <td>{{grade.year}}</td>
          <td>{{grade.quarter}}</td>
          <td>{{grade.math}}</td>
          <td>{{grade.computer}}</td>
          <td>{{grade.literature}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>

  <!-- Create new grade modal -->
  <BsModal
          @open={{this.openModal}}
          @onSubmit={{action (fn submit @model.id)}}
          @onHidden={{action "toggleModal"}} as |modal|>
    <modal.header>
      <h4 class="modal-title">Submit grade for student</h4>
    </modal.header>
    <modal.body>
      <div class="grade-container">
        <div class="grade-container__row">
          <Input @value={{this.gradeInformation.year}} type="text" placeholder="Year" autofocus="autofocus" />
          <Input @value={{this.gradeInformation.quarter}} type="text" placeholder="Quarter" autofocus="autofocus" />
        </div>
        <div class="grade-container__row">
          <Input @value={{this.gradeInformation.computer}} type="text" placeholder="Computer" autofocus="autofocus" />
          <Input @value={{this.gradeInformation.math}} type="text" placeholder="Math" autofocus="autofocus" />
        </div>
        <div class="grade-container__row">
          <Input @value={{this.gradeInformation.literature}} type="text" placeholder="Literature" autofocus="autofocus" />
        </div>
      </div>
    </modal.body>
    <modal.footer>
      <BsButton @onClick={{action modal.close}}>Cancel</BsButton>
      <BsButton @type="success" @onClick={{action modal.submit}}>Save</BsButton>
    </modal.footer>
  </BsModal>
</div>